<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!--  根元素  -->
<configuration>
    <!-- 加载外部配置文件 -->
    <properties resource="jdbc.properties"/>   <!--文件名-->

    <!-- 开启驼峰映射 ： 把数据表中的带有下划线的字段，变为： Java的驼峰命名方式。 例： user_name => username 或 userName -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--  设置别名 ： 把长名字变为短名字  -->
    <typeAliases>
        <!-- 扫描指定的包  , 把包下的所有的类，都起了别名。 别名格式：  全部小写 或 和类名一致  -->
        <package name="com.szl.pojo"/>
        <!--  <typeAlias type="com.itheima.pojo.User" alias="User"></typeAlias>
                <typeAlias type="com.itheima.pojo.Student" alias="Student"></typeAlias>
                <typeAlias type="com.itheima.pojo.Teacher" alias="Teacher"></typeAlias> -->
    </typeAliases>

    <!--  配置数据源（数据库连接）  -->
    <environments default="development">
        <environment id="development">

            <!-- 事务管理器：按照jdbc默认的事务管理机制-->
            <transactionManager type="JDBC"/>

            <!-- 数据源(数据库连接池): mybatis有自己自带的数据库连接池-->
            <dataSource type="POOLED">
                <!-- 连接数据库需要的四个参数 -->
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

      <!--配置映射文件关联-->
    <mappers>
        <!-- 方案1：指定关联的映射文件(通过映射文件关联Mapper接口)-->
<!--        <mapper resource="com/szl/dao/UserMapper.xml"/>  &lt;!&ndash;弊端：当需要关联多个同目录下的文件时会很繁琐&ndash;&gt;-->
<!--        <mapper resource="com/szl/dao/StudentMapper.xml"/>  -->
<!--        <mapper resource="com/szl/dao/TeacherMapper.xml"/>  -->

        <!-- 方案2：指定关联的Mapper接口(通过Mapper接口关联映射文件)
                要求：
                1.映射文件名和Mapper接口名必须相同
                2.映射文件和Mapper接口储存在相同的路径下
        -->
        <!-- 指定要扫描的所有mapper接口的 *包路径* -->
        <package name = "com.szl.dao"/>
    </mappers>

</configuration>